PORT=5000
MONGO_URI=mongodb+srv://kanijcse2024_db_user:EnHKLO8Evmo27g3c@chatapp.y3rdlfb.mongodb.net/
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
GEMINI_API_KEY=AIzaSyAuaiaKUKCfR5jV0ZjlxIfVWo1OI0Kr_SY

